
media/character animation/knight/sprites/idle/idle_sprite.xcf
media/character animation/knight/sprites/walkk.xcf
media/character animation/knight/sprites/idle/idle_sprite.png
media/character animation/knight/sprites/walk_sprite_FULLuwu.png
media/character animation/knight/sprites/idle/idle_sprite.png
media/character animation/knight/sprites/idle/idle_sprite.png
